<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../static/css/style.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div class="login-container">
      <img class="logo" src="../../static/images/new-logo.png" alt="Delta University Logo" />
      <h2>Login to your Account</h2>

      <form method="POST" enctype="multipart/form-data" action="{{ url_for('login') }}">
        <input class="input-field" type="text" id="email" name="email" placeholder="email" required />
        <input class="input-field" type="password" id="password" name="password" placeholder="password" required />
        <button type="submit" class="login-button">Login</button>
      </form>

      <div class="social-icons">
        <a href="https://www.facebook.com/deltauniv/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/deltauniv" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/deltauniversity/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/school/delta-university/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://api.whatsapp.com/send/?phone=201281101599&text&type=phone_number&app_absent=0" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </div>
      
    </div>
    <div class="footer">
      <p>Powered by Delta University | All Rights Reserved ©2024</p>
    </div>
  </body>
</html>
